[submodule "src/submodules/mytokl-libapp-cpp"]
	path = src/submodules/mytokl-libapp-cpp
	url = https://github.com/Toklio-project/mytokl-libapp-cpp.git
[submodule "mytokl-core-js"]
	path = mytokl-core-js
	url = https://github.com/Toklio-project/mytokl-core-js.git
